*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    list-style-type: none;
}
html{
    font-size: 62.5%;
}
body{
    background: var(--white-color);
}
:root{
    --white-color: rgba(255, 255, 255, 1);
    --main-color:rgb(255, 66, 165);
    --anchor-link-color:rgba(60, 53, 79, 1);
    --text-color: rgba(11, 2, 35, 1);
    --small-text-color:rgba(83, 76, 100, 1);
    --sky-blue-color:rgba(78, 197, 247, 1);
}
.container{
    max-width: 1440px;
    width: 90%; 
    margin: 0 auto;
    /* border: 1px solid red; */
}
.logo-color{
    color:var(--main-color);
}
.linear-color{
    background: linear-gradient(180.00deg, rgb(249,72,178), rgb(135,88, 241));
    background-clip: text;
    color: transparent;
}
.head-color{ 
    background: linear-gradient(90.00deg, rgba(249, 72, 178, 1)50%,  rgba(135, 88, 241, 1)100%);
    background-clip: text;
    color: transparent;
}
h3{
    font-size: 4.8rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 6rem;
}
p{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--small-text-color);
}
.btn{
    font-size: 2rem;
    font-weight: 600;
    line-height: auto;
    color: var(--white-color);
    padding: 2rem 4rem;
    cursor: pointer;
    border-radius: 4.8rem;
    border: none;
    text-transform: uppercase;
}

/* navbar section design start here  */
.nav-body{
    background: var(--white-color);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo h2{
    color: var(--text-color);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: auto;
    margin-left: 2rem;
}
.navlist{
    display: flex;
    align-items: center;
}
.navlist > a{
    font-size: 1.8rem;
    line-height: auto;
    font-weight: 500;
    margin-left: 3.5rem;
    color: var(--anchor-link-color);
    cursor: pointer;
}
.follow-us{
    display: flex;
    align-items: center;
    background: rgba(11, 2, 35, 0.1);
    border-radius: 8px;
    margin-left: 3.5rem;
    padding: 1.2rem 2rem;
}
.follow-us a{
    font-size: 1.8rem;
    line-height: auto;
    font-weight: 500;
    color: var(--anchor-link-color);
    cursor: pointer;
}
.follow-us img{
    margin-left: 1.5rem;
    height: 3rem;
    width: auto;
    cursor: pointer;
}
/* navbar section design end here  */

/* home section design start here */
    .home{
        background: url(../images/Group\ 14.png);
        background-repeat: no-repeat;
        background-position: left;
    }
    .home-container{
        display: flex;
        align-items: center;
    }
    .home-content h3{
        text-transform: uppercase;
    }
    .home-content h1{
        font-size: 9.5rem;
        font-weight: 800;
        line-height: auto;
        margin-bottom: 2rem;
    }
    ul > li{
        font-size: 2rem;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 1.5rem;
        color: var(--small-text-color);
    }
    li > i{
        color: var(--main-color);
        margin-right: 1rem;
    }
    .home-btn{
        margin-top: 4rem;         
    }
    .btn-1{
        background: var(--main-color);
    }
    .btn-2{
        background: var(--sky-blue-color);
        margin-left: 2.5rem;
    }
    .home-content{
        width: 50%;
    }
    .home-image{
        width: 50%;
    }
    .home-image img{
        height: 100%;
        width: auto;
    }
/* home section design end here */

/* gamers section design start here */
.gamers{
    background: linear-gradient(90.00deg, rgba(255,66,165,0.03) 13.134%, rgba(255,66,165,0.03)87.942%);
 }
 .gamers-container{
    display: flex;
    align-items: center;
    padding: 5rem 0;
 }
 .gamers-images{
    width: 65%;
 }
 .gamers-content{
    width: 35%;
    text-align: end;
 }
.gamers-content > h3{
    margin-bottom: 2rem;
}
.gamers-content > p{
    margin-bottom: 3rem;
}
.gamers-content > button{
    background: var(--main-color);
    margin-bottom: 3rem;
}
.gamers-content > p{
    font-weight: 500;
}
/* gamers section design end here */

/* funny videos section esign start here */
.videos{
    margin: 10rem auto;
}
.videos-content{
    text-align: center;
    margin-bottom: 4rem;
}
.videos-content > h3 {
    margin-bottom: 1rem;
}
.videos-cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}
.videos-cards > p{
    text-align:left;
    padding: 2rem 1rem;
}

.watch-now{
    position: relative;
}
.watch-now::before{
    content: '';
    position: absolute;
    top: 0.4rem;
    left: 1.3rem;
    width: 92.7%;
    height: 97%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    border-radius: 1.6rem;
}
.overflow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 3;
    cursor: pointer;
}

.overflow-play{
    color: rgba(255, 255, 255, 1);
    font-size: 4.8rem;
    margin-bottom: 1rem;
}
.overflow > h5{
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 600;
}
/* funny videos section esign end here */

/* play instantly section design start here */
    .play-instant{
        display: flex;
        align-items: center;
        text-align: end;
    }
    .play-instant-content{
        width: 40%;
    }
    .play-instant-content > h3{
        margin-bottom: 2rem;
    }
    .play-instant-images{
        width: 60%;
        position: relative;
    }
    .play-instant-sub-img{
        position: absolute;
        left: 10rem;
        top: 35rem;
    }
/* play instantly section design end here */

/* online play section design start here */
.online-play{
    margin: 15rem auto 10rem;
    display: flex;
    align-items: center;
}
.online-play-images{
    width: 65%;
    position: relative;
}
.online-play-sub-img{
    position: absolute;
    right: 10rem;
    bottom: -10rem;
}
.online-play-content{
    width: 35%;
}
.online-play-content > p{
    margin-top: 2rem;
}
/* online play section design end here */

/* careers section design start here */
.careers{
    background: var(--main-color);
    margin: 15rem auto 0rem;
    background-image: url(../images/Group\ 65.png);
    background-repeat: no-repeat;
    background-position: right;
}
.careers-content{
    padding: 10rem 0;
    width: 50%;
    max-width: 70rem; 
}
.careers-content h3 ,.careers-content p{
    color: var(--white-color);
    margin-bottom: 2rem;
}
.careers-data{
    display: flex;
    align-items: center;
    padding: 3rem 0;
    
}
.careers-sub > ul > li{
    color: var(--white-color);
}
.careers-sub-data-2{
    text-align: right;
    margin-left: 10rem;
}
.careers-content .btn{
    background: var(--white-color);
    color: var(--main-color);
    text-transform: uppercase;
}
/* careers section design end here */

 /* games card section design start here */
 .games-container{
    padding: 10rem 0;
 }
 .games-cards-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
 }
 .row-2{
    grid-template-columns: 1fr;
 }

 .games-card{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5rem;
    background: var(--white-color);
 }
 .games-card img{
    width: 6rem;
    height: 6rem;
 }
  .games-card h4{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1.5rem;
  }
 /* games card section design end here */

 /* footer design start here  */
 footer{
    background: var(--text-color);
    padding: 10rem 0;
    text-align: center;
 }
 .f-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
 }
 .f-logo > h2{
    color: var(--white-color);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: auto;
    margin-left: 2rem;
 }
 .f-navlist a{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--white-color);
    margin-left: 6rem;
    cursor: pointer;
 }
 .f-navlist a:hover{
    color: var(--main-color);
 }
 .f-social-media{
    margin: 5rem auto;
 }
 .f-social-media > i{
    color: var(--white-color);
    font-size: 4rem;
    margin-left: 4rem;
    cursor: pointer;
 }
 .f-social-media > i:hover{
    color: var(--main-color);
 }
 .terms{
    margin-bottom: 3rem;
 }
 .terms a{
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 6rem;
    cursor: pointer;
    line-height: normal;
 }
 small{
    font-size: 1.6rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);

    cursor: pointer;
    line-height: normal;
 }
 /* footer design end here  */ 
